.team-main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.team-card-container{
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.team-card{
    max-width: 250px;
    max-height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;
}