footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        /*background-image: linear-gradient(to right, rgb(254, 173, 223), rgb(255, 206, 255));*/
        background-color: var(--corFundoEscuro);
}