*{
  margin: 0px;
  padding: 0px;
  font-family: "Belleza";
  box-sizing: border-box;
}
:root{
  --corFundoClaro: rgb(255, 255, 255);
  --corFundoEscuro: black;
  --corTextoEscuro: rgb(81, 0, 53);
  --corTextoEscuroVariacao1: rgb(188, 0, 122);;
  --corTextoClaro: white;
  --corTextoClaroVariacao1: rgb(236, 178, 178);
}
body {
  background-color: var(--corFundoClaro);
  color: var(--corTextoEscuro);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  /*color: var(--corTextoEscuroVariacao1);*/
  color: var(--corTextoClaro);
  transition: 0.9;
  
}

/*a:hover{
  color: var(--corTextoClaroVariacao1);
  font-weight: bolder;
}*/